# Files or directories that you don't want to push with the repository add them below
# Ignore packages installed by npm, yarn etc
node_modules
.DS_Store
.env
.log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules
jspm_packages
typings
.npm
*.tgz
*.swp
*.sublime-workspace
*.sublime-project
.vscode
.idea
*.suo
*.ntvs_analysis.dat
*.ntvs_test.*
*.njsproj
*.sln
*.swp
*.swo
*.swn
*.bak
*.tmp
.vs